@import url('https://fonts.googleapis.com/css2?family=Forum&family=Sekuya&display=swap');
body{
    margin: 0px;
    background-color: #E0E0E0;
}
h1{
    margin: 0px;
}
.header{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   background-color:#848484;
   justify-items: end;
   align-items: center;
   height: 80px;
   background: linear-gradient(to bottom,#565656,#848484,#B3B3B3);
}
.title{
   font-size: 40px;
   font-family: "REvestir", serif;
   padding-right: 100px;
}
.navbar{
    display: flex;
    padding-left: 400px;
    background-color: #B3B3B3
}
.lupa{
    padding: 6px;
}
.buscar{
    width: 500px;
    height: 25px;
    border-radius: 20px;
    background-color: #E0E0E0;
}
.imageminicial{
    display: grid;
}
.imageminicial img{
    width: 100%;
    height: auto;
    display: block;
}
.h1daprimeiraimagem{
 position: absolute;
 padding-left: 50px;
 padding-top: 100px;
 font-size: 60px;
 color:#2B2B2B ;
}
.card{
  display: grid;
  grid-template-rows: 60% 40%;
  height: 500px;
  width: 380px;
  border: 1px solid black;
  border-radius: 30px;
  border-style: hidden;
  box-shadow: 3px 3px 30px gray;
  overflow: hidden;
  transition: transform 3 ease;
}
.card :hover{
     transform:  scale(1.05);
}
.textodosprodutos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    padding: 20px;
    font-size: 30px;
}
.preco{
 padding-bottom: 40px;
 padding-right: 150px;
}
.areacamisas{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}