@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Sekuya&display=swap");
body{
    margin: 0px;
    background-color: #E0E0E0;
}
h1{
    font-family: 'Montserrat';
    margin: 0px;
    font-weight: 430;
    font-style: italic;
}
.header{
   display: grid;
   grid-template-areas: 
   'box1 box2 box3'
   ;
   grid-template-columns: 1fr 1fr 5%;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   'box1 box1 box3'
   'box2 box2 box2'
   ;
   height: 150px;
   background: linear-gradient(to bottom,#565656,#848484,#B3B3B3);
}
.divtitle{
    border: 1px solid black;
    font-size: 2rem;
}
.box1{
grid-area: box1;
}
.lupa_inputpesquisa{
    border: 1px solid black;
   
}
.box2{
grid-area: box2;
}
.carrinhodecompras{
    border: 1px solid black;
}
.box3{
grid-area: box3;
}
@media screen and (max-width: 800px){
      .header{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'box1 box1 box3'
    'box2 box2 box3'
    ;
      }
}
/* 
.divlupa{
    display: flex;
    padding-left: 400px;
    background-color: #B3B3B3
}
.lupa{
    padding: 6px;
}
.buscar{
    width: 500px;
    height: 25px;
    border-radius: 20px;
    background-color: #E0E0E0;
} */
.imageminicial{
    display: grid;
}
.imageminicial img{
    width: 100%;
    height: auto;
    display: block;
}
.h1daprimeiraimagem{
 position: absolute;
 padding-left: 50px;
 padding-top: 100px;
 font-size: 60px;
 color:#2B2B2B ;
}
.card{
  display: grid;
  grid-template-rows: 60% 40%;
  height: 500px;
  width: 380px;
  border: 1px solid black;
  border-radius: 30px;
  border-style: hidden;
  box-shadow: 3px 3px 30px gray;
  overflow: hidden;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}
.card:hover{
     transform:  scale(1.05);
     
}
.textodosprodutos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    padding: 20px;
    font-size: 30px;
}
.preco{
 padding-bottom: 40px;
 padding-right: 150px;
}
.areacamisas{
    display:flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}