@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Sekuya&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: #fff;
}
.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #000;
    position: relative;
}
.titlediv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divpheader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #fff;
     font-family: "Montserrat", sans-serif;
}
.divpheader :hover{
    color: aqua;
    cursor: pointer;
}
.iconescadastrocart{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1.5rem;
    color: #fff;
}
.title{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  padding-right: 4rem;
  color: #fff;
}
.lupa{
    font-size: 2rem;
}
.barrapesquisa{
    border-radius: 30px;
    width: 15rem;
    height: 1.5rem;
    border: 1px solid rgba(194, 188, 188, 0.253);
    position: absolute;
    left: 14rem;
    top: 2rem;
}
.barrapesquisa:focus {
    outline: none;       
}
.iconecadastro{
    font-size: 2rem;
}
.carrinho{ 
    font-size: 2rem; 
}
.navbar{
    background-color: #d3e9ef;
    width: 100%;
    height: 2rem;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid transparent;
}
.sidebardiv{
    width: 20rem;
    height: 30rem;
    border: 1px solid black;
    background-color: #fff;         
    padding-top: 0;
    position: absolute;
    top: calc(2rem + 1px);
    z-index: 1;
}
.iconesidebar{
   width: 2rem;
}
.divimageminicial{
    height: 10rem;
}
.fotoinicial{
    width: 100%;
}
.areacamisas{
    display:flex;
    border-radius: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin-top: 2rem;
}
.card{
  display: grid;
  grid-template-rows: 60% 40%;
  height: 25rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 30px;
  border-style: hidden;
  box-shadow: 3px 3px 30px gray;
  overflow: hidden;
  transition: transform 1s ease;
  flex-shrink: 0;
}
.card:hover{
     transform:  scale(1.05);
}
.textodosprodutos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    padding: 20px;
    font-size: 30px;
}
.preco{
 padding-bottom: 40px;
 padding-right: 150px;
}

@media (max-width: 768px){
.title{
    font-size: 2rem;
}
.barrapesquisa{
    width: 12rem;
    left: 9.5rem;
    top: 1.7rem;
}
.iconecadastro{
    font-size: 2rem;
}
.carrinho{
    font-size: 2rem;
}
}
@media (max-width: 430px){
    .title{
        font-size: 1.3rem;
    }
    .barrapesquisa{
        width: 12rem;
        left: 6rem;
        top: 1.7rem;
    }
    .iconecadastro{
    font-size: 1rem;
    }
.carrinho{
    font-size: 1rem;
    }
}
