@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Sekuya&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0;
    background-color: #fff;
}
.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #000;
    position: relative;
}
.titlediv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divpheader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #fff;
     font-family: "Montserrat", sans-serif;
}
.divpheader :hover{
    color: aqua;
    cursor: pointer;
}
.iconescadastrocart{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1.5rem;
    color: #fff;
}
.title{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  padding-right: 4rem;
  color: #fff;
}
.lupa{
    font-size: 2rem;
}
.barrapesquisa{
    border-radius: 30px;
    width: 15rem;
    height: 1.5rem;
    border: 1px solid rgba(194, 188, 188, 0.253);
    position: absolute;
    left: 14rem;
    top: 2rem;
}
.barrapesquisa:focus {
    outline: none;       
}
.iconecadastro{
    font-size: 2rem;
}
.carrinho{ 
    font-size: 2rem; 
}
.divimageminicial{
    background-image: url("./assets/fotoinicial.png");
    background-size: cover;
    width: 100%;
    height: clamp(150px, 45vw, 500px);
}
.divimageminicial{
color: #fff;
position: relative;

}
.divimageminicial h1{
    font-family: "Prata", serif;
    font-weight: normal;
    font-size: clamp(16px, 4vw, 3rem);
}
.divimageminicial p{
font-size: clamp(8px, 2vw, 1.5rem);
}
.divimageminicial h1{
position: relative;
left: 15%;
top: 15%;
}
.divimageminicial p{
position: relative;
left: 15%;
top: 15%;
}
.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 100%;
    height: 7vh;
    font-weight: 300;
    font-size: clamp(8px, 4vw, 2rem);
    letter-spacing: 0.15rem;
}
.linha{
    width: 10%;
    height: 1px;
    background-color: black;
}
.categorias p{
    margin: 0;
}
.cards-categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    height: clamp(100px,10vw, 350px);
}
.cards-categoria :hover{
    transform: scale(1.05);
}

.card1 ,.card2, .card3 ,.card4{
    transition: transform 1s ease;
    height: 12vh;
    width: 17vw;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 20px;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}
.card1{
    background-image: url(./assets/categoria-masculino.png);
}
.card2{
    background-image: url(./assets/categoria-feminina.png);
}
.card3{
    background-image: url(./assets/calcados.png);
}
.card4{
    background-image: url(./assets/acessorios.png);
}
.destaques{
 display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 100%;
    height: 7vh;
    font-weight: 300;
    font-size: clamp(8px, 4vw, 2rem);
    letter-spacing: 0.15rem;
}
.linha2{
    width: 10%;
    height: 1px;
    background-color: black;
}
/* .areacamisas{
    display:flex;
    border-radius: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin-top: 2rem;
}
.card{
  display: grid;
  grid-template-rows: 60% 40%;
  height: 25rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 30px;
  border-style: hidden;
  box-shadow: 3px 3px 30px gray;
  overflow: hidden;
  transition: transform 1s ease;
  flex-shrink: 0;
}
.card:hover{
     transform:  scale(1.05);
}
.textodosprodutos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    padding: 20px;
    font-size: 30px;
}
.preco{
 padding-bottom: 40px;
 padding-right: 150px;
}

@media (max-width: 768px){
.title{
    font-size: 2rem;
}
.barrapesquisa{
    width: 12rem;
    left: 9.5rem;
    top: 1.7rem;
}
.iconecadastro{
    font-size: 2rem;
}
.carrinho{
    font-size: 2rem;
}
}
@media (max-width: 430px){
    .title{
        font-size: 1.3rem;
    }
    .barrapesquisa{
        width: 12rem;
        left: 6rem;
        top: 1.7rem;
    }
    .iconecadastro{
    font-size: 1rem;
    }
.carrinho{
    font-size: 1rem;
    }
} */
