@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Sekuya&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0;
    background-color: #fff;
}
.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #000;
    position: relative;
}
.titlediv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divpheader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #fff;
     font-family: "Montserrat", sans-serif;
}
.divpheader :hover{
    color: aqua;
    cursor: pointer;
}
.iconescadastrocart{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1.5rem;
    color: #fff;
}
.iconescadastrocart :hover{
    color: aqua;
    cursor: pointer;
}
.title{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  padding-right: 4rem;
  color: #fff;
}
 .lupa{
    font-size: 2rem;
}
.fundologin{
    background-image: url("./assets/foto-revestir.png");
}
.iconecadastro{
    font-size: 2rem;
    color: white;
}
.carrinho{ 
    font-size: 2rem; 
}
.fundologin{
    background-image: url(./assets/foto-revestir.png);
}
.divimageminicial{
    background-image: url("./assets/fotoinicial.png");
    background-size: cover;
    width: 100%;
    height: clamp(150px, 45vw, 500px);
}
.divimageminicial{
color: #fff;
position: relative;

}
.divimageminicial h1{
    font-family: "Prata", serif;
    font-weight: normal;
    font-size: clamp(16px, 4vw, 3rem);
}
.divimageminicial p{
font-size: clamp(8px, 2vw, 1.5rem);
}
.divimageminicial h1{
position: relative;
left: 15%;
top: 15%;
}
.divimageminicial p{
position: relative;
left: 15%;
top: 15%;
}
.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 100%;
    height: 7vh;
    font-weight: 300;
    font-size: clamp(8px, 4vw, 2rem);
    letter-spacing: 0.15rem;
}
.linha{
    width: 10%;
    height: 1px;
    background-color: black;
}
.cards-categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    height: clamp(100px,10vw, 350px);
}
.cards-categoria :hover{
    transform: scale(1.05);
}

.card1 ,.card2, .card3 ,.card4{
    transition: transform 1s ease;
    height: 12vh;
    width: 17vw;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 20px;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}

.card1{
    background-image: url(./assets/categoria-masculino.png);
}
.card2{
    background-image: url(./assets/categoria-feminina.png);
}
.card3{
    background-image: url(./assets/calcados.png);
}
.card4{
    background-image: url(./assets/acessorios.png);
}
.destaques{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 100%;
    height: 7vh;
    font-weight: 300;
    font-size: clamp(8px, 4vw, 2rem);
    letter-spacing: 0.15rem;
}
.linha2{
    width: 10%;
    height: 1px;
    background-color: black;
}
.cards-destaques{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    height: clamp(150px,17vw, 350px);
}
.card5, .card6, .card7,.card8{
    transition: transform 1s ease;
    height: 25vh;
    width: 17vw;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    transition: transform 1s ease;
}
.card5:hover,.card6:hover,.card7:hover,.card8:hover{
    transform: scale(1.05);
}
.card5-div1{
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
    width: 17vw;
    height: 15vh;
    background-image: url(./assets/destaque1.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.card5-div2{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}
.card5-div2 p{
    padding-right: 10%;
}
.card6-div1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 17vw;
    height: 15vh;
    background-image: url(./assets/destaque2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.card6-div2{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}
.card6-div2 p{
    padding-right: 10%;
}
.card7-div1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 17vw;
    height: 15vh;
    background-image: url(./assets/destaque3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.card7-div2{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}
.card7-div2 p{
    padding-right: 10%;
}
.card8-div1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 17vw;
    height: 15vh;
    background-image: url(./assets/destaque4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.card8-div2{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}
.card8-div2 p{
    padding-right: 10%;
}
.footerdiv{
    width: 100%;
    height: clamp(350px, 4vw, 20vh);
    background-image: url(./assets/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: #fff;
}
.footer-nav h1{
    font-size: 3rem;
    padding-bottom: 10%;
}
.footer-nav p{
    padding: 3%;
}
.footer-nav p:hover{
    color: aqua;
    cursor: pointer;
}
.contato-footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: #fff;
}
.contato-footer h1{
    font-size: 3rem;
    padding-bottom: 8%;
}
.contato-footer p{
    padding: 7%;
}
.contato-footer p:hover{
    color: aqua;
    cursor: pointer;
}
.informacoes-footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: #fff;
}
.informacoes-footer h1{
    font-size: 3rem;
    padding-bottom: 10%;
}
.informacoes-footer p{
    padding: 3%;
}
.social-footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: #fff;
}
.social-footer h1{
    font-size: 3rem;
    padding-bottom: 8%;
}
.social-footer p{
    padding: 7%;
}
.social-footer p:hover{
    color: aqua;
    cursor: pointer;
}
