.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #000;
    position: relative;
}
.titlediv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divpheader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #fff;
     font-family: "Montserrat", sans-serif;
}
.divpheader :hover{
    color: aqua;
    cursor: pointer;
}
.iconescadastrocart{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1.5rem;
    color: #fff;
}
.iconescadastrocart :hover{
    color: aqua;
    cursor: pointer;
}
.title{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  padding-right: 4rem;
  color: #fff;
}
 .lupa{
    font-size: 2rem;
}
.fundologin{
    background-image: url("./assets/foto-revestir.png");
}
.iconecadastro{
    font-size: 2rem;
    color: white;
}
.carrinho{ 
    font-size: 2rem; 
}
.fundologin{
    background-image: url(./assets/foto-revestir.png);
}